<div th:fragment="content">
    <div class="container py-5">
        <!-- Cabecera gris como en el dashboard -->
        <div class="bg-light p-3 rounded mb-4 border">
            <h1 class="h3 text-muted">Error</h1>
        </div>

        <!-- Contenido central -->
        <div class="text-center">
<img th:src="@{/img/rock-403774_640.jpg}" alt="Roca"
     style="width:300px; height:auto; margin-bottom:20px;">
            
<h2 class="text-warning">🚧 ¡Error! 🚧</h2>
            <h3 class="lead mt-3">posiblemente no haya datos con las especificaciones indicadas, 
            o el tutor cargado no tiene alumnos, o el alumno no tiene cursos. </h3> <br>
            <p>ya sabes, una roca en el camino te enseñó que tu destino era rodar y rodar</p>
            
        </div>
    </div>
</div>